.vs/*
PokerPlanning/bin/*
PokerPlanning/obj/*
PokerPlanning.Models/bin/*
PokerPlanning.Models/obj/*
PokerPlanning.Data/bin/*
PokerPlanning.Data/obj/*
PokerPlanning.Services/bin/*
PokerPlanning.Services/obj/*
PokerPlanning.Shared/bin/*
PokerPlanning.Shared/obj/*
docker-compose.yml
.vs/PokerPlanning/DesignTimeBuild/.dtbcache.v2
.vs/PokerPlanning/v17/.futdcache.v2
.vs/PokerPlanning/v17/.suo
.vs/PokerPlanning/v17/DocumentLayout.backup.json
.vs/PokerPlanning/v17/DocumentLayout.json
.vs/PokerPlanning/DesignTimeBuild/.dtbcache.v2
.vs/PokerPlanning/v17/.futdcache.v2
.vs/PokerPlanning/v17/.suo
.vs/PokerPlanning/v17/DocumentLayout.backup.json
.vs/PokerPlanning/v17/DocumentLayout.json
.vs/ProjectEvaluation/pokerplanning.metadata.v9.bin
.vs/ProjectEvaluation/pokerplanning.projects.v9.bin
.vs/ProjectEvaluation/pokerplanning.strings.v9.bin
