.vs/*
PokerPlanning/bin/*
PokerPlanning/obj/*
PokerPlanning.Models/bin/*
PokerPlanning.Models/obj/*
PokerPlanning.Data/bin/*
PokerPlanning.Data/obj/*
PokerPlanning.Services/bin/*
PokerPlanning.Services/obj/*
PokerPlanning.Shared/bin/*
PokerPlanning.Shared/obj/*
docker-compose.yml
