@page "/rooms"

<div style="padding: 1em;">
    <h3>Rooms</h3>
    <FluentButton Appearance="Appearance.Accent">Create Room</FluentButton>
</div>
<FluentGrid Spacing="1" AdaptiveRendering="true" Justify="JustifyContent.FlexStart" >
    <FluentGridItem xs="12" sm="10" md="6" lg="3">
        <FluentCard Width="400px" Height="125px">
            <FluentPersona Name="Affordable Housing"
                           ImageSize="75px"
                           StatusSize="PresenceBadgeSize.Medium">
                <FluentGrid Spacing="1" AdaptiveRendering="true" Justify="JustifyContent.FlexStart">
                    <FluentGridItem xs="12">
                        <h3>Affordable Housing</h3>
                    </FluentGridItem> 
                    <FluentGridItem xs="6">
                        <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowCircleRight())" Appearance="Appearance.Accent">Join</FluentButton>
                        <FluentButton IconStart="@(new Icons.Regular.Size16.Edit())" Appearance="Appearance.Neutral">Edit</FluentButton>
                       <FluentButton Appearance="Appearance.Neutral" IconStart="@(new Icons.Regular.Size16.Delete())" >Delete</FluentButton>
                    </FluentGridItem>
                </FluentGrid>
            </FluentPersona>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>

@code {

}
