@page "/"
@inject NavigationManager NavigationManager;
@inject IJSRuntime JSRuntime;
@inject ISnackbar Snackbar
@implements IAsyncDisposable


<PageTitle>Poker Planning</PageTitle>
<MudGrid>
    <MudItem xs="6">
        @if (!IsConnected)
        {
            <div class="input-group">
                <MudGrid>
                    <MudItem xs="3" sm="3">
                        <MudTextField @bind-Value="userName" Required="true" RequiredError="Name is required!" Label="Name" Variant="Variant.Text" Clearable="true"></MudTextField>
                    </MudItem>
                    <MudItem xs="9"></MudItem>
                    <MudItem xs="3" sm="3">
                        <MudSelect style="width:15rem" @bind-Value="role" Label="Role" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (Role item in Enum.GetValues(typeof(Role)))
                            {
                            <MudSelectItem Value="@item">@item</MudSelectItem>
                            }
                    </MudSelect>
                </MudItem>
                <MudItem xs="9"></MudItem>
                <MudItem xs="12">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="Connect" Disabled="@(IsConnectDisabled)">Connect</MudButton>
                </MudItem>
            </MudGrid>
        </div>
        }
        else
        {
            <h3>Voting</h3>
            <MudGrid>
                @foreach (var size in sizeValues)
                {
                    <MudItem xs="3">
                        <MudButton Disabled="GetVoteDisable()" Variant="GetVoteColor(size.ToString())" Color="Color.Primary" Size="Size.Large" OnClick="() => HandleVoting(size.ToString())"> @size </MudButton>
                    </MudItem>
                }
                <MudItem xs="3">
                    <MudButton Disabled="GetVoteDisable()" Variant="GetVoteColor('?'.ToString())" Color="Color.Primary" Size="Size.Large" OnClick="() => HandleVoting('?'.ToString())"> ? </MudButton>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem xs="3">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" OnClick="()=> HandleShowVotes()"> Show Votes </MudButton>
                </MudItem>
                <MudItem xs="3">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Large" OnClick="()=> HandleClearVotes()"> Clear Votes </MudButton>
                </MudItem>
            </MudGrid>
        }
    </MudItem>
    <MudItem xs="6">
        @if (ShowUsers())
        {
            <UsersList Users=@Users ShowVotes="@showVotes"></UsersList>

        }
        else
        {
            <RoomsList Rooms=@Rooms></RoomsList>
        }
    </MudItem>
    <MudItem xs="12">

    </MudItem>
</MudGrid>

@code {
    private HubConnection? hubConnection;
    private string userName = string.Empty;
    private string message = string.Empty;
    private string userId = string.Empty;
    private int[] sizeValues = new[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 };
    private Role role;
    private Dictionary<string, User> Users = new Dictionary<string, User>();
    private bool showVotes = false;
    private static Dictionary<string,List<string>> Rooms = new Dictionary<string, List<string>>();
    ElementReference TextAreaRef;

    private async Task Connect()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri($"/pokerhub?username={userName}&role={role}"))
        .WithAutomaticReconnect()
        .Build();

        hubConnection.On<string>("RecieveUserId", (connectionId) =>
       {
           userId = connectionId;
           StateHasChanged();
       });

        hubConnection.On<Dictionary<string, User>>("RecieveUsers", (users) =>
        {
            Users = users;
            StateHasChanged();
        });


        hubConnection.On("ShowVotes", () =>
        {
            showVotes = true;
            StateHasChanged();
        });


        hubConnection.On<Dictionary<string,List<string>>>("RecieveRooms", (rooms) =>
             {
                 Rooms = rooms;
                 StateHasChanged();
             });


        try
        {
            await hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message);
        }
    }



    private async Task HandleVoting(string vote)
    {
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("SendVote", vote);
        }
    }

    private async Task HandleClearVotes()
    {
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("ClearVotes");
            showVotes = false;
        }
    }

    private async Task HandleShowVotes()
    {
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("ShowVotes");
        }
    }

    public Variant GetVoteColor(string vote)
    {
        var user = Users.Values.Where(x => x.Name != null && x.Name.Equals(userName)).FirstOrDefault();
        return user != null && user.Vote != null && user.Vote.Equals(vote) ? Variant.Filled : Variant.Outlined;
    }

    public bool GetVoteDisable()
    {
        var user = Users.Values.Where(x => x.Name != null && x.Name.Equals(userName)).FirstOrDefault();
        if (user != null && user.Role == Role.Observer)
        {
            return true;
        }

        if (showVotes)
        {
            return true;
        }

        return false;
    }


    public bool IsConnectDisabled => string.IsNullOrEmpty(userName) || string.IsNullOrWhiteSpace(userName);

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public bool ShowUsers()
    {
        if(Users.Keys.Count() >= 0 && Users.ContainsKey(userId) && Users[userId].Room != "Lobby") {
            return true;
        }
        return false;
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}