@inject IToastService ToastService
@inherits LayoutComponentBase
<FluentDesignTheme Mode=DesignThemeModes.Dark
                   StorageName="theme" />
<FluentDialogProvider />
<FluentToastProvider MaxToastCount="10" />
<FluentLayout>
    <FluentHeader>
        PokerPlanning
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <ErrorBoundary>
            <ChildContent>
             <FluentBodyContent Class="body-content">
                <div class="content">
                    @Body
                </div>
            </FluentBodyContent>
            </ChildContent>
            <ErrorContent Context="ex">
                <FluentBodyContent Class="body-content">
                    <div class="content">
                        @Body
                    </div>
                </FluentBodyContent>
                @{ ToastService.ShowError($"Error: {ex.Message}"); }@*prints exeption on page*@
            </ErrorContent>
        </ErrorBoundary>
    </FluentStack>
    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        <FluentSpacer />
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

