@inject IToastService ToastService
@inherits LayoutComponentBase

<FluentDesignTheme Mode=DesignThemeModes.Dark
                   StorageName="theme" />
<FluentDialogProvider />
<FluentToastProvider MaxToastCount="10" />
<FluentLayout>
    <FluentHeader>
        PokerPlanning
        <FluentStack HorizontalAlignment="@HorizontalAlignment.End"
                     VerticalAlignment="@VerticalAlignment.Center">
            <FluentProfileMenu Image="@(new Icons.Regular.Size48.Person().ToDataUri(size: "25px", color: "Black"))"
                               HeaderLabel="Microsoft"
                               Initials="BG"
                               FullName="Bill Gates"
                               PopoverStyle="min-width: 330px;" 
                               HeaderButton="Sign Out"
                               FooterLink="Change Account Information" />
        </FluentStack>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <ErrorBoundary>
            <ChildContent>
             <FluentBodyContent Class="body-content">
                <div class="content">
                        @if (contextLayout != null && contextLayout == typeof(AuthorizedLayout))
                        {
                            <AuthorizedLayout>
                                @Body
                            </AuthorizedLayout>
                        }
                        else
                        {
                            @Body
                        }
                </div>
            </FluentBodyContent>
            </ChildContent>
            <ErrorContent Context="ex">
                <FluentBodyContent Class="body-content">
                    <div class="content">
                        @if (contextLayout != null && contextLayout == typeof(AuthorizedLayout))
                        {
                            <AuthorizedLayout>
                                @Body
                            </AuthorizedLayout>
                        }
                        else
                        {
                            @Body
                        }
                    </div>
                </FluentBodyContent>
                @{ ToastService.ShowError($"Error: {ex.Message}"); }@*prints exeption on page*@
            </ErrorContent>
        </ErrorBoundary>
    </FluentStack>
    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        <FluentSpacer />
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [CascadingParameter]
    Type contextLayout { get; set; }
}